doctype html
html
  head
    title status error
    meta(charset='utf-8')
    link(rel='stylesheet', href='css/error.css')

  body
    header
      a(href='/') status

    #wrapper
      p f u c k.

    footer

