doctype html
html
  head
    title status
    meta(charset='utf-8')
    link(rel='stylesheet', href='//brick.a.ssl.fastly.net/Muli:200,200i,300,400,700')
    link(rel='stylesheet', href='/css/main.css')

  body.feed
    #wrapper
      section#feed-profile
      ul#statuses

    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/js/moment.min.js')
    script(type='text/javascript', src='/js/feed.js')