extends layout

block content
  p Your identifier is
    span#identifier= identifier
  p test

  input(type='text', id='peer-id')
  button(type='button', id='peer-connect') connect

  #message no message
