extends layout

block content
  if authenticated
    .content
      section.left
        h2 account details
        #profile
          label(for='identifier') your identifier
            span#identifier= identifier
          label(for='acct-name') name
            input(type='text', id='acct-name', placeholder='name', required)
          label(for='acct-bio') bio
            input(type='text', id='acct-bio', placeholder='bio')
          label(for='acct-url') public URL
            input(type='text', id='acct-url', placeholder='http://', required)
          button(type='button', id='account-update') update

      section.right
        h2 follow a new identifier
        label(for='peer-id') peer ID
          input(type='text', id='peer-id', placeholder='peer id', required)
        label(for='peer-domain') peer URL
          input(type='text', id='peer-domain', placeholder='http://', required)
        button(type='button', id='peer-connect') follow

    section#status
      h2 Status updates accept markdown
      textarea(type='text', id='status-message', placeholder='enter status update', required)
      button(type='button', id='status-send') send

    section#feed.left
      h2 feed
      ul#statuses

    section#follows.right
      h2 following
      ul#followed

      h2 followers
      ul#followers

    #feed-profile-view
      iframe
      .actions
        button(type='button', id='close') x
  else
    form(method='post', action='/authenticate')
      input(type='text', name='password')
      button(type='submit') authenticate

block script
  if authenticated
    script(type='text/javascript', src='js/main.js')
