extends layout

block content
  section
    h2 account details
    p Your identifier is
      span#identifier= identifier
    input(type='text', id='acct-name', placeholder='name')
    input(type='text', id='acct-bio', placeholder='bio')
    button(type='button', id='account-update') update

  input(type='text', id='peer-id')
  button(type='button', id='peer-connect') follow

  #message no message

  ul#followed

  ul#followers
