doctype html
html
  head
    title status
    meta(charset='utf-8')
    link(rel='stylesheet', href='//brick.a.ssl.fastly.net/Muli:200,200i,300,400,700')
    link(rel='stylesheet', href='/css/main.css')

  body
    header
      block header
    #wrapper
      block content

    footer
      block footer

    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/js/moment.min.js')
    block script
