body {
  padding: 0;
  margin: 10px;
  font-family: Helvetica, Arial, sans-serif;
}

section {
  background-color: #f3f3f3;
  border-bottom: 2px solid #4fffb2;
  margin: 5px 0;
  padding: 20px;
}

#identifier {
  padding-left: 5px;
  display: inline-block;
}

#status-message {
  width: 70%;
  font-size: 1.2rem;
}
