body {
  padding: 0;
  margin: 10px;
  font-family: Helvetica, Arial, sans-serif;
}

section {
  background-color: #f3f3f3;
  border-bottom: 2px solid #4fffb2;
  margin: 5px 0;
  float: left;
}

h2 {
  font-weight: 100;
  font-size: 1.2rem;
  padding: 0 10px;
}

form, ul {
  padding: 0 10px;
}

ul {
  list-style-type: none;
}

#wrapper {
  min-width: 800px;
}

#identifier {
  padding-left: 5px;
  display: inline-block;
}

#status-message {
  width: 70%;
  font-size: 1.2rem;
}

.content {
  float: left;
  width: 100%;
  position: relative;
}

.left, .right {
  height: 120px;
  margin-bottom: 5px;
}

.left {
  float: left;
  width: 64%;
}

.right {
  float: right;
  width: 35%;
}

#status {
  width: 100%;
}

#feed {
  width: 64%;
  margin-right: 1%;
}

#follows {
  width: 35%;
  float: right;
}

#feed li {
  width: 100%;
  background-color: #fff;
  float: left;
  clear: both;
  margin-bottom: 5px;
}

#feed li time {
  font-style: italic;
  padding: 5px 2px 0 2px;
  display: inline-block;
}

#feed li p {
  padding: 0 19px;
}
