body {
  padding: 0;
  margin: 0px;
  font-family: Muli, Arial, sans-serif;
}

section {
  margin: 3px 0;
  float: left;
  padding: 5px 10px;
  border-top: 1px solid #111;
  border-right: 1px solid #111;
}

header {
  width: 100%;
}

header span {
  margin-left: 10px;
  font-size: 1.6rem;
}

header, h2, label {
  display: inline-block;
  color: #111;
  font-weight: 100;
  font-size: 1rem;
  padding: 0;
  text-transform: uppercase;
}

h2 {
  margin: 0;
  float: left;
  width: 100%;
}

a {
  color: #26d3e7;
}

button {
  background-color: #111;
  color: #ccc;
  font-size: 1.12rem;
  text-transform: uppercase;
  font-weight: 100;
  border: 0;
}

input[type=text], textarea {
  padding: 2px;
  font-family: Muli, Arial, sans-serif;
  font-size: 0.9rem;
  margin: 5px 2px;
}

form, ul {
  padding: 0 10px;
}

#notification {
  position: fixed;
  top: 0;
  font-size: 0.9rem;
  transition-duration: 1s;
  text-align: left;
  padding: 5px 30px 5px 5px;
  right: -500px;
  background-color: #dfff5e;
  z-index: 2;
}

#notification.on {
  right: 0;
  transition-duration: 1s;
}

textarea, input {
  border: 1px solid #f1f1f1;
  background-color: transparent;
  font-weight: 200;
}

textarea:hover, input:hover, textarea:active, input:active {
  background-color: #303638;
  color: #fff;
}

:required {
  box-shadow: none;
}

:invalid, :-moz-ui-invalid, :-moz-submit-invalid {
  box-shadow: none;
  border: 1px dashed #f00;
}

textarea {
  height: 100px;
  width: 100%;
  max-width: 700px;
  min-height: 50px;
  max-height: 300px;
  resize: vertical;
}

#feed-profile-view {
  opacity: 0;
  background-color: #fff;
  border: 1px solid #111;
  position: fixed;
  z-index: 3;
  top: 10px;
  right: 10px;
  bottom: 10px;
  width: 50%;
  min-width: 400px;
  transition-duration: 0.5s;
}

#feed-profile-view.on {
  opacity: 1;
  transition-duration: 1s;
}

#feed-profile-view iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

#feed-profile-view #close {
  bottom: 0;
}

#feed, #statuses, #feed-profile {
  list-style-type: none;
}

#wrapper {
  min-width: 500px;
}

#identifier {
  display: inline-block;
  margin-left: 10px;
  font-size: 1.3rem;
}

label[for=acct-url] {
  width: 70%;
}

#acct-url {
  width: 70%;
}

label[for=identifier] {
  width: 100%;
}

#status-message {
  width: 84%;
  font-size: 1.1rem;
}

.content {
  width: 100%;
  position: relative;
  height: 140px;
}

.left, .right {
  margin-bottom: 5px;
  height: 100%;
}

.left {
  float: left;
  width: 60%;
}

.right {
  float: right;
  width: 33%;
  margin-right: 5px;
}

#status {
  margin: 10px 0;
  width: 80%;
}

#feed-profile {
  border: 0;
  width: 90%;
}

#feed li, #feed-profile li {
  width: 100%;
  background-color: #fff;
  position: relative;
  float: left;
  clear: both;
  margin-bottom: 5px;
  border-top: 1px solid #111;
  border-right: 1px solid #111;
  padding-bottom: 20px;
}

.actions {
  position: absolute;
  right: 0;
  bottom: 0;
}

.actions button {
  opacity: 0.1;
}

.actions button:hover, .actions button:active {
  opacity: 1;
}

#feed li time {
  font-style: italic;
  padding: 10px;
  display: inline-block;
}

#feed li img {
  width: 100%;
  max-width: 500px;
  max-height: 500px;
}

#feed li p {
  padding: 0 19px;
}

#follows li, #follows ul {
  float: left;
  clear: both;
}

#follows ul {
  width: 100%;
  padding: 0;
}

#follows li {
  font-size: 0.8rem;
}

#follows li {
  width: 100%;
  float: left;
  clear: both;
}

#followed, #followers {
  list-style-type: none;
}
